<div class="container">
  <h2>Sobre mim</h2>
  <p>
    Olá, me chamo Gabriel!. Comecei minha carreira na empresa Arcnet
    Desenvolvimento de Software Ltda., onde participei ativamente do
    desenvolvimento do sistema Mobyo Pay, uma solução para pagamentos e
    relatórios financeiros. Nesse projeto atuei como full-stack, desenvolvendo
    tanto o aplicativo android (com Ionic), quanto o aplicativo web e a API.
    Utilizei Node.js, NestJS, Angular, Ionic e Electron, além de utilizar o
    Firestore como banco de dados. Ainda na Arcnet atuei em diversos outros
    projetos do ramo de padarias e restaurantes, e tive a oportunidade de criar
    um projeto do zero: O Mobyo Pay API. Foi o projeto em que mais pude evoluir
    profissionalmente, não só aplicando tudo o que havia aprendido até então,
    como também tendo que aprender diversos conceitos, como Clean Architecture
    (o projeto foi completamente arquiteturado em Clean Arch) e Web Socket.
  </p>
  <p>
    Após o término do contrato, comecei a me dedicar à carreira freelancer, e
    virei o co-fundador do o projeto Luvena, um sistema com soluções de
    agendamento e gerenciamento para empresas no ramo da estética, projeto no
    qual venho me dedicando até o momento atual.
  </p>
</div>
